.gallery {

    display: none; /* Hidden by default */

    &--clicked {
        display: flex;
        position: relative; /* According to the regular document flow */
        z-index: 1; /* Sit on top */
        padding: 1rem 2rem;
        width: max-content; 
        height: max-content;
        border-radius: 2rem; 
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        

        .modal-content {
            
            .close {
                color: black;
                background-color: #749ef8;
                padding: 0 0.5rem 0 0.5rem;
                border-radius: 10%;
                float: right;
                font-size: 2rem;
                text-shadow: 1px 1px 1px white;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

                &:hover,
                &:focus {
                background-color: #215cd8;
                text-decoration: none;
                cursor: pointer;
                }
            }
        }
    }
        
        img {
            height: 10rem;
            width: 15rem;
            padding: 0 0.5rem 0 0.5rem;
        }
   } 
