.gallery {

    display: none; /* Hidden by default */

    &--clicked {
        display: flex;
        position: absolute; /* According to the regular document flow */
        left: 35%;
        top: 2%;
        z-index: 1; /* Sit on top */
        padding: 1% 2%;
        width: max-content; 
        height: max-content;
        border-radius: 2rem; 
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
        

        .modal-content {
            
            .close {
                color: white;
                // background-color: rgb(192, 56, 56);
                padding: 0 0.5rem 0 0.5rem;
                border-radius: 10%;
                float: right;
                font-size: 2rem;
                background-image: linear-gradient(white, rgb(192, 56, 56),rgb(192, 56, 56),rgb(192, 56, 56), rgb(192, 56, 56), rgb(192, 56, 56), rgb(192, 56, 56), white);
                border: 1px solid white;
                

                &:hover,
                &:focus {
                    background-image: linear-gradient(rgb(192, 56, 56), rgb(192, 56, 56));
                    text-decoration: none;
                cursor: pointer;
                }
            }
        }
    }
        
        img {
            height: 10rem;
            width: 15rem;
            padding: 0 0.5rem 0 0.5rem;
        }
   } 
