
* {
    box-sizing: border-box;
}



body {
    margin: 0;
    height: 100vh;
    
    

    .content{
        isolation: isolate;
        height: 100%;
        display: flex;
        flex-direction: column;

    .desktop {

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .folder {

            display: flex;
            flex-wrap: wrap;

            
        }

        
        button {
            margin: 2rem;
            border: none;
            height: 6rem;
            width: 6rem;
            background: none;

            &:hover {
                box-shadow: 3px 3px 5px #749ef8;
            }
        

            img {
                height: 5rem;
                width: 5rem;
                
            }

                 
        }

        .gallery {

            display: none; /* Hidden by default */

            &--clicked {
                display: flex;
                position: relative; /* According to the regular document flow */
                z-index: 1; /* Sit on top */
                padding: 1rem 2rem;
                width: max-content; 
                height: max-content;
                border-radius: 2rem; 
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                

                .modal-content {
                    
                    .close {
                        color: black;
                        background-color: #749ef8;
                        padding: 0 0.5rem 0 0.5rem;
                        border-radius: 10%;
                        float: right;
                        font-size: 2rem;
                        text-shadow: 1px 1px 1px white;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

                        &:hover,
                        &:focus {
                        background-color: #215cd8;
                        text-decoration: none;
                        cursor: pointer;
                        }
                    }
                }
            }
                
                img {
                    height: 10rem;
                    width: 15rem;
                    padding: 0 0.5rem 0 0.5rem;
                }
           }     

        

        @import "./bmicalc"

        
        
        // @import "./images" {

        // }
    } 

        footer {
            
            background-image: linear-gradient(#749ef8,#215cd8,#215cd8,#215cd8);
            height: 3rem;
            margin-top: auto;
            
            button {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 8.5rem;
                height: 3rem;
                background-image: linear-gradient(#40a042, #9DE49D, #40a042, #235223 ) ;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.5rem;
                font-weight: bold;
                font-style: italic;
                border-bottom-right-radius: 10% 30% ;
                border-top-right-radius: 10% 30%;
                border-top-left-radius: 10% 30%;
                border-bottom-left-radius: 10% 30%;
                color: white;

                padding: 0%;
                

            
                img {
                    padding-left: 7%;
                    height: 2.75rem;
                }
                

            }
        }
    }
}

body::before {
    
    background-image: url("./assets/WindowsXPWallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    inset: 0;
    content: "";

}




